@font-face {
  font-family: "futura";
  src: url("./../../../assets/fonts/Futura_20Medium_20BT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "myriad";
  src: url("./../../../assets/fonts/MYRIADPRO-REGULAR.OTF") format("OpenType");
  font-weight: normal;
  font-style: normal;
}
