/**************************************
 * Colors
**************************************/
$primary: #27347e;
$primary-light: #5e5ba2;
$primary-dark: #26204f;

$secondary: #f39420;

$white: white;
$black: black;

$txt-light: $white;
$txt-dark: $black;

$font-title: "futura";
$font-txt: "myriad";

$site-bkg-color: $primary-dark;
