/**************************************
 * Colors
**************************************/
$primary: #27347e;
$primary-light: #5e5ba2;
$primary-dark: #26204f;

$secondary: #f39420;

$white: white;
$black: black;

$txt-light: $white;
$txt-dark: $black;

$txt-disabled: #e3f2fd;
$bkg-disabled: #a1a4b2;

$answer-good: #0f9d58;
$answer-wrong: #db4437;

$font-title: "futura";
$font-txt: "myriad";

$site-bkg-color: $primary-dark;

$anim-duration: 0.2s;
$anim-duration-long: 0.5s;

$svg-ellipse-width: 100px;

$pyramid-width: 200px;
