@import "styles";
$pyramid-width: 400px;
$pyramid-height: 25px;

:host {
  .pyramid {
    .item {
      position: relative;
      width: $pyramid-width;
      height: $pyramid-height;
      .item-txt {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: grid;
        grid-template-columns: 40% 40px auto;
        color: $secondary;
        .txt-id {
          justify-self: end;
        }
        .txt-dot {
          opacity: 0;
          justify-self: center;
          width: 15px;
          ::ng-deep {
            svg polygon {
              fill: $txt-light;
            }
          }
        }
        .txt-gain {
          justify-self: start;
        }
      }
      .svg-gain {
        display: none;
        ::ng-deep {
          svg {
            position: absolute;
            height: 200%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
          }
        }
      }
      &.item-active {
        .item-txt .txt-dot {
          opacity: 1;
        }
        .svg-gain {
          display: block;
        }
      }
      &.item-passed {
        .item-txt .txt-dot {
          opacity: 1;
        }
      }
    }
  }
}
