<section class="home-section">
  <div class="top">
    <p>{{(title$ | async)}}</p>
    <p>{{(birthday$ | async)}}</p>
  </div>
  <img class="logo" src="./../../../assets/Logo-Qui-veut-gagner-des-millions.png" alt="QVGDM">
  <div class="buttons">
    <app-button class="button" (click)="startGame()">Commencer</app-button>
    <!-- <app-button class="button" (click)="continueGame()">Continuer la partie</app-button> -->
    <!-- <app-button class="button" (click)="chooseQuestionnaire()">Choix du questionnaire</app-button> -->
  </div>
</section>
<!-- <app-audio></app-audio> -->