$height-header: 10vh;
$height-main: 40vh;
$height-question: 45vh;
$height-footer: 100vh - $height-header - $height-question - $height-main;

$round-height: 80%;
$round-margin: 1%;
$buttons-height: 100% - $round-height - 2 * $round-margin;

:host {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;

  &:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url("./../../../assets/Logo-Qui-veut-gagner-des-millions.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 46%;
    z-index: -1;
  }

  .header,
  .footer,
  .main-section,
  .section-question {
    width: 100%;
  }
  .header {
    height: $height-header;
  }
  .footer {
    height: $height-footer;
  }
  .main-section {
    position: relative;
    height: $height-main;
    .section-logo {
      position: relative;
      width: auto;
      height: $round-height;
      margin-top: $round-margin;
      margin-bottom: $round-margin;
      .gain {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-weight: bold;
        font-size: 26px;
      }
    }
    .section-buttons {
      width: 60%;
      height: $buttons-height;
      display: flex;
      margin: auto;
      .button {
        width: 50%;
      }
    }
  }
  .section-pyramid {
  }
  .section-question {
    height: $height-question;
  }
}
