<div class="question">
  <p>{{(currentQuestion$|async)?.question}}</p>
  <app-svg-gain></app-svg-gain>
</div>
<div class="answers-container">
  <div [class]="getClassAnswers(0)" (click)="selectAnswer(0)">
    <app-svg-gain></app-svg-gain>
    <div class="answer-txt" *ngIf="(currentQuestion$|async)?.answers[0].visible">
      <app-svg-losange></app-svg-losange>
      <p class="letter">A:</p>
      <p>{{(currentQuestion$|async)?.answers[0].answer}}</p>
    </div>
  </div>
  <div [class]="getClassAnswers(1)" (click)="selectAnswer(1)">
    <app-svg-gain></app-svg-gain>
    <div class="answer-txt" *ngIf="(currentQuestion$|async)?.answers[1].visible">
      <app-svg-losange></app-svg-losange>
      <p class="letter">B:</p>
      <p>{{(currentQuestion$|async)?.answers[1].answer}}</p>
    </div>
  </div>
  <div [class]="getClassAnswers(2)" (click)="selectAnswer(2)">
    <app-svg-gain></app-svg-gain>
    <div class="answer-txt" *ngIf="(currentQuestion$|async)?.answers[2].visible">
      <app-svg-losange></app-svg-losange>
      <p class="letter">C:</p>
      <p>{{(currentQuestion$|async)?.answers[2].answer}}</p>
    </div>
  </div>
  <div [class]="getClassAnswers(3)" (click)="selectAnswer(3)">
    <app-svg-gain></app-svg-gain>
    <div class="answer-txt" *ngIf="(currentQuestion$|async)?.answers[3].visible">
      <app-svg-losange></app-svg-losange>
      <p class="letter">D:</p>
      <p>{{(currentQuestion$|async)?.answers[3].answer}}</p>
    </div>
  </div>
</div>