<!-- <app-svg-question></app-svg-question> -->
<div class="question">
  <p>{{(currentQuestion$|async)?.question}}</p>
  <app-svg-gain></app-svg-gain>
</div>
<div class="answers-container">
  <div class="answer">
    <app-svg-gain></app-svg-gain>
    <p>{{(currentQuestion$|async)?.answers[0].answer}}</p>
  </div>
  <div class="answer">
    <app-svg-gain></app-svg-gain>
    <p>{{(currentQuestion$|async)?.answers[1].answer}}</p>
  </div>
  <div class="answer">
    <app-svg-gain></app-svg-gain>
    <p>{{(currentQuestion$|async)?.answers[2].answer}}</p>
  </div>
  <div class="answer">
    <app-svg-gain></app-svg-gain>
    <p>{{(currentQuestion$|async)?.answers[3].answer}}</p>
  </div>
</div>

<!-- {{(currentQuestion$ |async)?.question}} -->