@import "styles";

$question-max-height: 40%;
$answer-max-height: 100% - $question-max-height;
$answer-good: #0f9d58;
$answer-wrong: #db4437;

:host {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .question {
    position: relative;
    width: 100%;
    max-height: $question-max-height;
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  .answers-container {
    position: relative;
    width: 100%;
    max-height: $answer-max-height;
    display: flex;
    flex-wrap: wrap;
    .answer {
      position: relative;
      width: 50%;
      max-height: 50%;

      .answer-txt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        .letter {
          color: $secondary;
          font-weight: bold;
          margin: 0 10px;
        }
        ::ng-deep {
          svg {
            max-width: 20px;
            polygon {
              fill: $white;
            }
          }
        }
      }
      &:hover {
        cursor: pointer;
      }
      &.answer-wrong,
      &.answer-candidate,
      &.answer-good {
        .answer-txt {
          p {
            color: $txt-dark;
          }
        }
      }
      &.answer-candidate {
        p {
          color: $txt-dark;
        }
        ::ng-deep {
          svg path {
            fill: $secondary;
            transition: all $anim-duration ease;
          }
        }
      }
      &.answer-wrong {
        ::ng-deep {
          svg path {
            fill: $answer-wrong;
          }
        }
      }
      &.answer-good {
        ::ng-deep {
          svg path {
            fill: $answer-good;
          }
        }
      }
    }
  }
}
