@import "styles";

$answer-good: #0f9d58;
$answer-wrong: #db4437;
:host {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .question {
    position: relative;
    width: 100%;
    p {
      position: absolute;
      top: 46%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  .answers-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .answer {
      position: relative;
      width: 50%;
      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
      &:hover {
        cursor: pointer;
      }
      &.answer-candidate {
        p {
          color: $txt-dark;
        }
        ::ng-deep {
          svg path {
            fill: $secondary;
          }
        }
      }
      &.answer-wrong {
        ::ng-deep {
          svg path {
            fill: $answer-wrong;
          }
        }
      }
      &.answer-good {
        ::ng-deep {
          svg path {
            fill: $answer-good;
          }
        }
      }
    }
  }
}
