<div class="question">
  <p>{{sCurrentQuestion()?.question}}</p>
  <app-svg-gain></app-svg-gain>
</div>
<div class="answers-container">
  <div [class]="getClassAnswers(0)" (click)="selectAnswer(0)">
    <app-svg-gain></app-svg-gain>
    @if (sCurrentQuestion()?.answers[0].visible) {
      <div class="answer-txt">
        <app-svg-losange></app-svg-losange>
        <p class="letter">A:</p>
        <p>{{sCurrentQuestion()?.answers[0].answer}}</p>
      </div>
    }
  </div>
  <div [class]="getClassAnswers(1)" (click)="selectAnswer(1)">
    <app-svg-gain></app-svg-gain>
    @if (sCurrentQuestion()?.answers[1].visible) {
      <div class="answer-txt">
        <app-svg-losange></app-svg-losange>
        <p class="letter">B:</p>
        <p>{{sCurrentQuestion()?.answers[1].answer}}</p>
      </div>
    }
  </div>
  <div [class]="getClassAnswers(2)" (click)="selectAnswer(2)">
    <app-svg-gain></app-svg-gain>
    @if (sCurrentQuestion()?.answers[2].visible) {
      <div class="answer-txt">
        <app-svg-losange></app-svg-losange>
        <p class="letter">C:</p>
        <p>{{sCurrentQuestion()?.answers[2].answer}}</p>
      </div>
    }
  </div>
  <div [class]="getClassAnswers(3)" (click)="selectAnswer(3)">
    <app-svg-gain></app-svg-gain>
    @if (sCurrentQuestion()?.answers[3].visible) {
      <div class="answer-txt">
        <app-svg-losange></app-svg-losange>
        <p class="letter">D:</p>
        <p>{{sCurrentQuestion()?.answers[3].answer}}</p>
      </div>
    }
  </div>
</div>