@import "styles";

:host {
  .result-section {
    position: relative;
    .top {
      position: relative;
      padding-top: 10px;
      font-weight: bold;
      font-size: 2.2em;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%);
        border: 1px solid $txt-light;
        width: 30%;
      }
    }
    .section-center {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      .left,
      .right {
        width: 100%;
      }
      .left {
        padding-top: 30px;
        padding-bottom: 30px;
        .logo {
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          max-height: 150px;
        }
      }
    }
  }
}
@media (min-width: $max-with-s) {
  :host {
    .result-section {
      height: 100vh;
      .section-center {
        flex-wrap: nowrap;
        .left,
        .right {
          width: 50%;
          .left-container,
          .right-container {
            position: relative;
            top: 40%;
            transform: translateY(-50%);
          }
        }
        .left {
          padding-left: 30px;
          padding-right: 30px;

          .logo {
            max-height: 300px;
          }
        }
      }
    }
  }
}
