:host {
  .cls-1 {
    fill: #1b5492;
  }

  .cls-2 {
    fill: #fcfcfc;
  }

  .cls-3 {
    fill: #fffefc;
  }
  .cls-4.cross {
    display: none;
    fill: #e30613;
    stroke: #1d1d1b;
    stroke-miterlimit: 10;
  }
}
