@import "styles";
:host {
  display: flex;
  .svg-joker {
    transition: all ease $anim-duration;
    margin: 0 10px;
    &.svg-joker-used {
      ::ng-deep {
        svg {
          .cls-4.cross {
            display: block;
          }
        }
      }
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  ::ng-deep {
    svg {
      max-width: 200px;
    }
  }
}
